body{
    background-image: url("../images/fondonuevo.jpg");
    background-size: cover;
    background-attachment: fixed;
}
#saludo{
    font-size: 280%;
    text-align: center;
    vertical-align: auto;
    transition-duration: 1500ms;
    transition-property: all;
}
#saludo:hover{
    padding: 105px 40px;
    font-size: 290%;
    color: rgb(85, 127, 243);
}

#mainpi{
    border-color: 2 px rgb(0, 0, 0);
    width: 90%;
    height: 100%;
    margin: 0px 80px;
    
    transition-duration: 1500ms;
    transition-property: all;
}
#mainpi:hover{
padding: 10% -10%;
    
}
img {
    width: 75%;
}
.pintores{
    margin: 50px 150px;
}
.footerpintores{
    font-size: 150%;
}
.separacion{
    margin: 50px 50px;

}
#pintoresleo{
    margin: 50px 50px;
}
#pi1{
    width: 35%;
}
#pi2{
    width: 145%;
}
#pi3{
width: 60%;
}
#pi4{
    width: 175%;
}
#pi5{
    width: 75%;
}
#leo1{
width: 80%;
}
#leo2{
    width: 40%;
}
#leo3{
    width: 150%;
}
#leo4{
    width: 40%;
}
#leo5{
    width: 120%;
}
#sal4{
    width: 125%;
}
table{
    text-align: center;
    width: 75%;
    height: 75%;
   
}